---
ci:
  autofix_commit_msg: "Chore: pre-commit autoupdate"
  skip:
    # pre-commit.ci cannot install WGET, so tomlint must be disabled
    - tomllint

exclude: |
  (?x)^(
      docs\/conf.py|
      dco-signoffs/$
  )$

repos:
  - repo: local
    hooks:
      - id: tomllint
        name: "Script: scripts/tomllint.sh"
        language: script
        # pass_filenames: false
        files: \^*.toml
        types: [file]
        entry: scripts/tomllint.sh .

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      # - id: detect-aws-credentials
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: no-commit-to-branch
      # - id: pretty-format-json
      - id: requirements-txt-fixer
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        args: ["--no-error-on-unmatched-pattern", "--ignore-unknown"]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        args: ["--fix"]

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/openstack/bashate
    rev: 2.1.1
    hooks:
      - id: bashate
        args: ["--ignore=E006,E011"]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/pycqa/pydocstyle.git
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        additional_dependencies: ["tomli"]

  - repo: https://github.com/Mateusz-Grzelinski/actionlint-py
    rev: v1.7.1.15
    hooks:
      - id: actionlint

  - repo: https://github.com/pycqa/flake8
    rev: "7.1.0"
    hooks:
      - id: flake8
        additional_dependencies:
          - pep8-naming

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
        args:
          [
            "-d",
            "{rules: {line-length: {max: 120}}, ignore-from-file: [.gitignore],}",
          ]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.9
    hooks:
      - id: ruff
        files: ^(scripts|tests|custom_components)/.+\.py$
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
        files: ^(scripts|tests|custom_components)/.+\.py$

  - repo: local
    hooks:
      - id: mypy-cache
        name: "create mypy cache"
        language: system
        pass_filenames: false
        entry: bash -c 'if [ ! -d .mypy_cache ]; then /bin/mkdir .mypy_cache; fi; exit 0'

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.10.0"
    hooks:
      - id: mypy
        verbose: true
        args: ["--show-error-codes", "--install-types", "--non-interactive"]
        additional_dependencies: ["pytest", "types-requests"]

  # Check for misspellings in documentation files
  # - repo: https://github.com/codespell-project/codespell
  #   rev: v2.2.2
  #   hooks:
  #   - id: codespell

  # To embrace black styles, even in docs
  # - repo: https://github.com/asottile/blacken-docs
  #   rev: v1.13.0
  #   hooks:
  #   - id: blacken-docs
  #     additional_dependencies: [black]

  # Automatically upgrade Python syntax for newer versions
  # - repo: https://github.com/asottile/pyupgrade
  #   rev: v3.15.0
  #   hooks:
  #     - id: pyupgrade
  #       args: ['--py37-plus']
